.blue{
    color: blue;
}
.red{
    color: rgb(182, 14, 14);
}
.orange{
    color: rgb(110, 91, 4);
}
.green{
    color: rgb(136, 2, 177);
}
.pink{
    color: rgb(133, 139, 35);
}
.black{
    color: rgb(15, 48, 2);
}
.cyan{
    color: rgb(81, 5, 133);
}