body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
.container{
    padding: 10px;
    text-align: center;
    background: linear-gradient(45deg,blue,rgb(24, 19, 19));
}
input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
input:focus{
    outline: none;
}
button{
    padding: 5px 20px;
    background: rgb(2, 148, 68);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}
input:hover,button:hover {
    border: 1px solid cyan;
}